:root {
    --default-black: #212529;
    --shiny-black: #313235;
    --shadow: #14141495;

    --default-gray: #ccd0d4;
    --default-white: #EAF6FF;
}

html, body {
    padding: 0;
    margin: 0;

    height: 100vh;

    text-align: center;
    scroll-behavior: smooth;
}

.ozone {
    background-color: var(--default-black);
    color: var(--default-white);
    height: 100vh;
}

.ozone .box{
    background-color: var(--shiny-black);
    box-shadow: 5px 5px 15px var(--shadow);

    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
}

.ozone .horizontal-menu {
    width: 100%;
    padding: 1rem 0;

    background-color: var(--shiny-black);
}

.ozone .horizontal-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ozone .horizontal-menu li {
    text-align: center;
    display: inline;    
}

.ozone .horizontal-menu li a {
    color: var(--default-gray);
    text-align: center;
    padding: 0.5rem 5vw;
    text-decoration: none;
    transition: 0.4s;
}

.ozone .horizontal-menu li a:hover{
    color: var(--default-white);
}

.ozone .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ozone .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ozone .s-icon {
    font-size: 15px;
}

.ozone .m-icon {
    font-size: 30px;
}

.ozone .l-icon {
    font-size: 50px;
}

.ozone .xl-icon {
    font-size: 75px;
}