:root {
    --default-black: #212529;
    --shiny-black: #313235;
    --shadow: #14141495;

    --default-gray: #ccd0d4;
    --default-white: #EAF6FF;
}

html, body {
    padding: 0;
    margin: 0;

    text-align: center;
    scroll-behavior: smooth;
}

.ozone {
    background-color: var(--default-black);
    color: var(--default-white);
}

.ozone .box{
    background-color: var(--shiny-black);
    box-shadow: 5px 5px 15px var(--shadow);

    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
}

.ozone .horizontal-menu-bar {
    width: 100%;
    padding: 1rem 0;

    background-color: var(--shiny-black);
}

.ozone .horizontal-menu-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ozone .horizontal-menu-bar li {
    text-align: center;
    display: inline;    
}

.ozone .horizontal-menu-bar li a {
    color: var(--default-gray);
    text-align: center;
    padding: 0.5rem 5vw;
    text-decoration: none;
    transition: 0.4s;
}

.ozone .horizontal-menu-bar li a:hover{
    color: var(--default-white);
}

.ozone .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ozone .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}